{% extends 'base.html.twig' %}

{% block body %}
{% for article in articles %}
    <div>{{ article.title }} - {{  article.body  }}</div>
{% endfor %}
{% endblock %}

{% block stylesheets %}

{% endblock %}

